/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: linear-gradient(to bottom, rgb(178, 34, 34), pink);
}