<main>
    <div>
        <p-card header="Your game has ended" *ngIf="playAgainVisible">
            <p class="m-0">
                If You want to play again just click!
            </p>
            <div class="text-center mt-3">
                <button pButton type="button" label="Play Again" (click)="startNewGame()" style="width: 100%;"></button>
            </div>
        </p-card>
    </div>    
    <div class="board-container">
        <div class="row" *ngFor="let row of board.fields">
            <app-square *ngFor="let field of row" [field]="field"></app-square>
        </div>
    </div>
    <div class="board-container center" *ngIf="transformationVisible">
        <div class="row" *ngFor="let row of pawnTransformationBoard.fields">
            <app-square *ngFor="let field of row" [field]="field"></app-square>
        </div>
    </div>
        <div class="board-container center" *ngIf="playAgainVisible">

    </div>
</main>
